<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ESP8266 Data</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-0CmrABZ2d3sSw4C2jw6WzQfIm6nPfzHRqZ2sNOgbSYT+Sbl8aivOtrGOW+T89TZx4v8xQ+9ZFWccW1yL4+MnFw=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>

<body>
    <div class="container mt-3">
        {% for sensor_data in sensor_data_list %}
            <div>
                <h2>{{ sensor_data['name'] }}</h2>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Temperature <i class="fas fa-thermometer-half" style="color: #60cb5c;"></i></th>
                            <th>Humidity <i class="fas fa-tint" style="color: #5ea7ca;"></i></th>
                            <th>Timestamp</th>
                        </tr>
                    </thead>
                    <tbody style="text-align: center;">
                        <tr>
                            <td>{{ sensor_data['temperature']|default('N/A') }}</td>
                            <td>{{ sensor_data['humidity']|default('N/A') }}</td>
                            <td>{{ sensor_data['timestamp'] }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        {% endfor %}

        <div style="display: flex; justify-content: space-around;">
            <div>
                <h2>Average</h2>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Average temperature <i class="fas fa-thermometer-half" style="color: #60cb5c;"></i></th>
                            <th>Average humidity <i class="fas fa-tint" style="color: #5ea7ca;"></i></th>
                        </tr>
                    </thead>
                    <tbody style="text-align: center;">
                        <td>{{ avg_data_temperature|default('N/A') }}</td>
                        <td>{{ avg_data_humidity|default('N/A') }}</td>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</body>

</html>
